/* created root selectors to utilize frequently throughout the page */
:root {
--dark: #13293d;
--light: #ffff;
--borders: 53px; 
}
/*added avatar attributes to have a small rounded avatar of my image */
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}
p {
  font-size: medium;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header {
  padding: 40px;
  text-align: le;
  background: var(--dark);
  color: var(--light);
}

nav {
  display: flex;
  background-color: #d8a47f;
  justify-content: end;
}

nav a {
  color: var(--dark);
  padding: 14px 20px;
  text-decoration: none;
  text-align:center;
  justify-content: end;
}

nav a:hover {
  background-color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
}
/* Utilized aside to have a for styling and separating sections */
aside {
  flex: 2;
  background-color: rgb(180, 177, 177) ;
  padding: 30px;
  text-align: start;
}


.projects {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
/* Added box shadow for styling */
.card {
  border-style: solid;
  border-width: 10px;
  padding: 10px;
  margin: 30px;
  flex: 0 0 300px;
  box-shadow: 5px 10px #888888;
  border-radius: 20px;

}
/*added border radius details to round the edges*/
.card header {
  padding: 20px;
  border-radius: 50px 50px 0px 0px;
  text-align: center;
}

.card p {
  text-align: center;
}

.card img {
 width: 100%;

}
/* added attributes to make the site more responsive */
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}

 .navbar {
  background-color: var(--dark);
  color: var(--light);
  display: table;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 20px;
  bottom: 0;
  width: 100%;
}
.navbar ul {
  padding:0;
  list-style:none;
  font-size: 30px;
}

.navbar li {
  padding: 75px 75px; 
  float: left;
}

.navbar ul a {
  color:inherit;
  text-decoration:none;
}*/

   
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

 
